.btn {
    margin: 1rem;
    height: 3rem;
    background: #222;
    display: flex;
    max-width: 50%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    border-radius: .25rem;
}