
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;700&display=swap');

body {
    font-family: 'Baloo Tammudu 2', cursive;

    h1 {
        grid-column: auto / span 3;
        font-size: 3rem;
        margin: 0;
    }

    h2 {
        font-size: 2.2rem;
        margin: .5rem 1rem;
        padding: 0;
    }

    .product {

        h3 {
            margin: 0 1rem;
            font-size: 1.6rem;
            font-weight: 400;
        }
    }

}